html {
  scroll-behavior: smooth;
}
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url(assets/swing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  background-color: hsla(304, 100%, 90%, 0.7);
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20px;
}

#services {
  text-align: center;

  justify-content: center;
}
