.schedule {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    text-align: center;
    width: 800px;
    display: block;
}

.time {
    padding: 0px;
}