body {
  font-family: bahnschrift, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  text-align: center;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 0px;
  margin: 10px;
  text-align: center;
  max-width: 400px;
  max-height: 700px;
  display: inline-block;
  
}

.card .card-image {
  max-width: 100%;
}

.card .card-title {
  padding-left: 10px;
  padding-right: 10px;
}

.card .card-description {
  padding-left: 10px;
  padding-right: 10px;
}

.card .learn-more {
  margin: 20px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: black;
}

footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}