body {
  font-family: comic-sans, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: #fff;
  padding: 30px;
}

header h1 {
  margin: 0;
  padding-bottom: 10px;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.home-container {
  text-align: center;
}

.home-container p {
  margin-left: 100px;
  margin-right: 100px;
  border: dotted;
  padding: 50px;
  background-color: hsl(182, 61%, 69%);
  border-radius: 10%;
}

.container {
  text-align: center;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
}