.homeContainer {
    text-align: center;
    align-items: center;
}
  
.homeDescription {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: left;
    border: none;
    border-radius: 20px;
    padding: 50px;
    background-color: hsla(180, 100%, 90%, 0.7);
}